.button {
    background-color: #ffc404;
    color: #312c1d;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: #e6b800;
  }
  
  .text-button {
    background: none;
    color: #ffc404;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .text-button:hover {
    text-decoration: underline;
  }